@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(26, 26, 26);
  margin: 1rem;
  color: white;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* height: 100vh; */
}

main {
  display: flex;
  gap: 2rem;
}
h1 {
  font-family: "Playfair Display", cursive;
  font-size: 7rem;
  font-weight: 700;
  line-height: 1;
}

p,
label {
  font-family: "Abhaya Libre";
  font-size: 18px;
  margin: 1rem;
}
.picture-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 600px;
}
.photo-container {
  display: flex;
  width: 600px;
  flex-wrap: nowrap;
  gap: 10px;
}

.photo-container .photo-1 {
  max-width: 100%;
  height: auto;
  flex-shrink: 1;
}

.photo-container .photo-2 {
  max-width: 50%;
  height: 635px;
  object-fit: cover;
}

.button {
  margin: 1rem;
  background-color: rgb(232, 89, 36);
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  font-family: "Helvetica";
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(198, 74, 28);
}
input[type="radio"] {
  accent-color: rgb(232, 89, 36); /* your custom color */
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

.delay-1 {
  animation-delay: 0s;
}

.delay-2 {
  animation-delay: 1s;
}

.delay-3 {
  animation-delay: 2s;
}

.delay-4 {
  animation-delay: 3s;
}

@keyframes fadeIn {
  to {
    opacity: 1; /* Fade to fully visible */
  }
}
/* anything <= 991*/
@media screen and (max-width: 991px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  h1 {
    font-size: 4rem;
  }

  .info-section {
    text-align: center;
    /* margin: 1rem; */
    margin-left: 2rem;
  }
}

@media screen and (min-width: 1199px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
  }

  h1 {
    max-width: 600px;
  }
}
